body{
    display:flex;
    flex-direction: column;
    
}



.header{
 display: flex;
 background-color:#1F2937;
 color:#F9FAF8;
 font-size: 24px;
}


ul{
    display:flex;
    list-style-type:none;
    gap: 15px;
}


a{}





.content-1{
    background-color:#1F2937;
}






.content-2{

}







.content-3{

}









.footer{

}