body{
    display:flex;
    flex-direction: column;
}



.header{
 display: flex;
 background-color:#1F2937;
 color:#F9FAF8;
 font-size: 24px;
 align-items: center;
 height: 100px;
 justify-content: space-around;
 padding-left:15px;
}


ul{
    display:flex;
    list-style-type:none;
    flex:auto;
    gap: 10px;
    justify-content: flex-end;
    margin:auto;
    margin-right: 15px;
    font-size: 18px;
    
}


.border-div{
    width:5%;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}







.content-1{
    padding-top: 30px;
    background-color:#1F2937;
    display: flex;
    gap: 200px;
    justify-content: center;

}

img{
    width: 300px;
    height:auto;
    padding-bottom: 20px;   
    margin-bottom: 10px;
}

.c1-format{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
    gap: 10px;}

.c1-button{
    width: 100px;
    height: 35px;
    margin: auto;
    color:#e5e7eb;
    background-color: #3882F6;
    border-radius: 7px;

}

.c1-button-positioning{
    display: flex;
    justify-content:start;
    margin-right:auto;
    margin-bottom: auto;
    align-items: center;
}

.c1-border-div{

}

.hero-main-text{
    font-size:48px;
    font-weight: 900;
    color:#F9FAF8;
}

.hero-secondary-text{
    font-size:18px;
    color:#F9FAF8;
    
}






.content-2{

}

.c2-header{
    font-size:36px;
    font-weight: 800;
    color:#1F2937;
}
.c2-text{
    color: #1F2937;
    font-size: 18px;
}






.content-3{

}









.footer{

}