body{
    display:flex;
    flex-direction: column;
}



.header{
 display: flex;
 background-color:#1F2937;
 color:#F9FAF8;
 font-size: 24px;
 align-items: center;
 height: 100px;
 justify-content: space-around;
 padding-left:15px;
}


ul{
    display:flex;
    list-style-type:none;
    flex:auto;
    gap: 10px;
    justify-content: flex-end;
    margin:auto;
    margin-right: 15px;
    font-size: 18px;
    
}


.border-div{
    width:5%;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}





.content-1{
    background-color:#1F2937;
}

.hero-main-text{
    font-size:48px;
    font-weight: 900;
    color:#F9FAF8;
}

.hero-secondary-text{
    font-size:18px;
    color:#e5e7eb;
}






.content-2{

}







.content-3{

}









.footer{

}