/*Arranges page into flexbox columns: header, content-1, content-2, content-3, footer*/
body{
    display:flex;
    flex-direction: column;
}


/*Styles Header*/
.header{
 display: flex;
 background-color:#1F2937;
 color:#F9FAF8;
 font-size: 24px;
 align-items: center;
 height: 100px;
 justify-content: space-around;
 padding-left:15px;
}

/*Styles links and turns on flexbox for positioning*/
ul{
    display:flex;
    list-style-type:none;
    flex:auto;
    gap: 10px;
    justify-content: flex-end;
    margin:auto;
    margin-right: 15px;
    font-size: 18px;
    
}

/*Div on outsides of header that improves formatting*/
.border-div{
    width:5%;
}

/*styles anchor elements*/
a{
    text-decoration: none;
    color: #e5e7eb;
}






/*Formats content-1 flexbox*/
.content-1{
    padding-top: 30px;
    background-color:#1F2937;
    display: flex;
    gap: 200px;
    justify-content: center;

}

/*Styles cat image*/
img{
    width: 300px;
    height:auto;
    padding-bottom: 20px;   
    margin-bottom: 10px;
}

/*Creates column flexbox for positioning of content-1's header and text*/
.c1-format{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
    gap: 10px;}

    /*Adds style to sign up button*/
.c1-button{
    width: 100px;
    height: 35px;
    margin: auto;
    color:#e5e7eb;
    background-color: #3882F6;
    border-radius: 7px;

}

/*Adds flexbox around button to control positioning*/
.c1-button-positioning{
    display: flex;
    justify-content:start;
    margin-right:auto;
    margin-bottom: auto;
    align-items: center;
}

/*Adds style to header*/
.hero-main-text{
    font-size:48px;
    font-weight: 900;
    color:#F9FAF8;
}

/*Adds style to secondary text*/
.hero-secondary-text{
    font-size:18px;
    color:#F9FAF8;
    
}





/*Adds flebox properties to content-2*/
.content-2{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/*Makes divs into square cards*/
.card-square{
    height: 200px;
    width:200px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 5px;
    margin:auto;
    border-radius: 10px;
}

/*Adds style to content-2 header*/
.c2-header{
    text-align: center;
    font-size:36px;
    font-weight: 900;
    color:#1F2937;
    margin-top: 50px;
}


/*Adds style to content-2 text*/
.c2-text{
    color: #1F2937;
    font-size: 18px;
}

/*Style for card divs*/
.card-format{
   display: flex;
   flex-direction: column; 
    text-align: center;
   min-width: 15%;
   max-width: 17%;
}

/*Adds horizantal flexbox container for the card divs*/
.content-2 ul{
    display: flex;
    justify-content: center;
}



.content-3{

}









.footer{

}